.message{
    padding: 5px;
    margin:5px;
    width:fit-content;
}
.message__user {
    margin-left: auto;
    color:white;
    text-align: left!important;
}
.message__userCard {
    background-color: #0b81ff!important;
    color:white!important;
}
.message__guestCard {
    background-color: #e9e9eb!important;
    color:#444950!important;
}
.message__guestColor {
    color:#0b81ff!important;
}